.productsContainer {
  width: 100%;
  text-align: center;
  font-family: "Nunito", sans-serif;

  .title {
    margin-top: 0;
    font-weight: 600;
  }
  .description {
    font-weight: 300;
  }

  .price {
    font-weight: 600;
  }
  .productImage {
    max-width: 100%;
  }

  .selectColor {
    margin: 10px 0;
  }

  .productImagesWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .productImages {
      padding: 0 5px;
      width: 55px;
      height: 75px;
      opacity: 0.8;
    }
    .productImages:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
